{% extends "base.html" %}

{% block content %}

    <div class="container  w-50">
    <h1 class="text-center">Login</h1>
        <div class="divider bg-light"><hr></div>
<form action="" method="POST">
    {% csrf_token %}

            <label class="mb-1" for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control"/>
            <label class="mb-1" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control"/>
    <div class="text-center">
        <button class="btn btn-light mt-2" type="submit">Sign in</button>
    </div>
</form>
</div>
{% endblock content %}
