{% extends 'base.html'%}
{%block content %}

{% if post.user == request.user %}
    <a href="{% url 'edit_post' post.id%}"> <button type="button" class="btn btn-secondary">Edit</button> </a>
        {% endif %}
<div class="table-responsive">

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Uploaded</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td>{{post.uploaded}}</td>





<td class="col">

        <img class="img-fluid max-width" src="{{ post.image.url }}" alt="{{ post.title }}">

            </tbody>
            </table>
        </div>

        <a href="{% url 'posts'%}"> <button type="button" class="btn btn-secondary">Back</button> </a> {%endblock%}