<div class="table-responsive">
    <p class="mt-5">
        <div class="container">
            <h1>Posts</h1>

            <!-- <form action="{% url 'searchbar' %}" method="GET">
                <input type="text" name="search">
                <button type="submit">Search</button>
            </form> -->
            <form action="{% url 'searchbar' %}" method="GET" value="{{request.GET.q}}">
                Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
                <input type="submit" name="submit" value="Search"/>
            </form>


        </div>
      <table class="table table-dark table-striped mt-4">
        {% for post in posts %} {% if forloop.first %}
            <thead>
                <tr>
                    <th class="col-4">Post</th>
                    <th>User</th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                </thead>
{%endif%}
                </tr>
                 <td class="lead text-light">{{post.title}}</td>
                 <td class="lead text-light">{{post.user}}</td>
                 <td> {% if post.image %} <img style="width: 140px; height: 80px" src="{{post.image.url}}" alt="default.jpg" class="img-thumbnail"> {% endif %}</td>
                <td>
                <a href="{% url 'post' post.id%}"><button type="button" class="btn btn-success">View post</button></a>
                </td>

        {% endfor %}
        </table>
            </div>
