{% extends "base.html" %}

{% block content %}


<h1>search_posts</h1>

<br/>

{% if results %}
{% if submitbutton == 'Search' and request.GET.q != '' %}





<table class="table table-dark table-striped mt-4">
        {% for result in results %} {% if forloop.first %}
            <thead>
                <tr>
                    <th class="col-4">Post</th>
                    <th>User</th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                </thead>
        {%endif%}
                </tr>
                 <td class="lead text-light">{{result.title}}</td>
                 <td class="lead text-light">{{result.user}}</td>
                 <td> {% if result.image %} <img style="width: 140px; height: 80px" src="{{result.image.url}}" alt="default.jpg" class="img-thumbnail"> {% endif %}</td>
                <td>
                <a href="{% url 'post' result.id%}"><button type="button" class="btn btn-success">View post</button></a>
                </td>

        {% endfor %}
        </table>

{% else %}
    No search results for this query
{% endif %}
{% else %}
    No search results for this query
{% endif %}

{% endblock content %}