{% extends "base.html" %}

{% block content %}


 <div class="container">
    <div class="row mt-5">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
            {% for post1 in posts1 %}
                {% if post1.image %} <a href="{% url 'post' post1.id%}"><img src="{{post1.image.url}}" alt="default.jpg" class="img-fluid "></a> {% endif %}
            {% endfor %} 
        </div> 

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            {% for post2 in posts2 %}
                {% if post2.image %} <a href="{% url 'post' post2.id%}"><img src="{{post2.image.url}}" alt="default.jpg" class="img-fluid"></a> {% endif %}
            {% endfor %} 
        </div> 

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
            {% for post3 in posts3 %}
                {% if post3.image %} <a href="{% url 'post' post3.id%}"><img src="{{post3.image.url}}" alt="default.jpg" class="img-fluid"></a> {% endif %}
            {% endfor %} 
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            {% for post4 in posts4 %}
                {% if post4.image %} <a href="{% url 'post' post4.id%}"><img src="{{post4.image.url}}" alt="default.jpg" class="img-fluid"></a> {% endif %}
            {% endfor %} 
        </div> 
    </div>
</div>

{% endblock content %}
