{% extends "base.html" %}

{% block content %}

{{  user.is_authenticated }}

<h1>index</h1>
<div>
<a href="{% url 'accounts:register' %}">register</a>
</div>
<div>
<a href="{% url 'profile' %}">profile</a>
</div>
<div>
<a href="{% url 'accounts:login' %}">login</a>
</div>
<div>
<a href="{% url 'accounts:logout' %}">logout</a>
</div>
<div>
<a href="{% url 'posts' %}">view posts</a>
    <br>
<a href="{% url 'create_post' %}"></a>
</div>
<div>
<a href="{% url 'followed_user_page' %}">followed user page</a>
</div>

{% endblock content %}
