{% extends "base.html" %}

{% block content %}

<div class="container mt-4 mb-5">
    <header class="row justify-content-center pt-3 mb-5" >
        <div class="col-3">
            <div class="col-6 ">
                {% for pic in profilePic %}
                    <img class="rounded-circle" style="height: 150px; width: 160px; " src="{{pic.image.url}}" class="img-thumbnail" alt="profilePic"/>
                {% endfor %}
            </div>
            <div class="col-7 mt-2 ms-4">
                <a href="{% url 'edit_profile_picture' user.id %}" class="btn profile_picture_button " style="font-size: 11px;">Edit profile picture</a>
            </div>
        </div>

        <div class=" col-7 ms-4">
            <div class="mb-3">
                <h2>{{ user.username }}</h2>
            </div>
            <div class="row">
                <div class="col-3">
                    <p><strong style="margin-right: 0.40em;">{{postImages.count}} </strong> posts </p>
                </div>
                <div class="col-3">
                    <p><strong style="margin-right: 0.40em;">{{followers}} </strong> followers </p>
                </div>
                <div class="col-3">
                    <p><strong style="margin-right: 0.40em;">{{followeing}} </strong> followeing </p>
                </div>
            </div>
            <div>
               <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
        </div>
    </header>


    <div class="profile_content active">
        <div class="row justify-content-center">
           
            <div class="col-auto me-5"> <a data-target="#home" data-toggle="tab" href="{% url 'profile' %}" class="btn border_link"><i class="bi bi-grid-3x3"> </i> <small class="text-muted"> POSTS</small></a></div>
            <div class="col-auto ms-5"> <a href="{% url 'saved_posts' %}" class="btn border_link"><i class="bi bi-save"> </i> <small class="text-muted"> SAVED</small></a></div> 
        </div>
    </div>

    {% if request.get_full_path == "/profile/" %}

        <div class="row ms-3">
            {% for postImage in postImages %}
                <div class="col-md-auto mb-4">
                    {% if postImage.image %} <a href="{% url 'post' postImage.id%}"><img style="width: 280px; height: 200px" src="{{postImage.image.url}}" alt="img" class="img-thumbnail"> </a>{% endif %}
                </div>
            {% endfor %}
            <div class="col-md-auto mb-4">
                <a href="{% url 'create_post' %}"><img style="width: 280px; height: 200px" src="https://icon-library.com/images/add-new-icon/add-new-icon-29.jpg" alt="img" class="img-thumbnail"> </a>
            </div>
        </div>

    {% elif request.get_full_path == "/profile/save/" %}

        <div class="row ms-3">
            {% for savedImage in savedImages %}
                <div class="col-md-auto mb-4">
                    {% if savedImage.post.image %} <a href="{% url 'post' savedImage.post.id%}"><img style="width: 280px; height: 200px" src="{{savedImage.post.image.url}}" alt="img" class="img-thumbnail"> </a>{% endif %}
                </div>
            {% endfor %}
        </div>

    {% endif %}
</div>


{% endblock content %}
