 
@media only screen and (max-width: 992px) {
  .flex-column{
    display: none;
  }

}
@media only screen and (min-width: 992px) {
  .sidemenu-link{
    display: none;
  }
  .flex-column-inner-pic{
    margin-left: -10px;
    height: 32px; 
    width: 35px;
  }
  
}
@media only screen and (min-width: 1200px) {
  .sidemenu-link{
    display: inline;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1400px) {
  .sidemenu-link{
    display: block;
    font-size: 12px;
  }
} 


body{
    background-color: #171717;
    color: #e6e6e6;
}


.flex-column{
  background-color: white;
  position:sticky;
  margin-top: -170px;
  height: 90vh;
  background-color: #171717;
  padding-right: -200px;
  
}

.flex-column-inner{
  margin-top: 180px;
  border: white solid 1px;
  background-color: #262626;
  border: #81818186 solid 0.5px;
  background-color: #262626;
  padding-bottom: 10px;
  padding-right: 20px;

}
#main{
  margin-left: 20px;
}


.profile_picture_button{
  border: white solid 0.25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #171717;
  color: white;
}


.profile_content{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.356);
}

.border_link{
    color: #e6e6e6 !important;
    font-weight: bold;
    
}

.btn:focus{
  box-shadow: none;
} 

.row > div {
      padding: 0 4px !important;
}

img {
    margin-top: 8px;
    vertical-align: middle;
}


.card{
  background-color: #262626;
  border: #81818186 solid 0.5px;
}

.card-img{
  border-top: #81818186 solid 0.5px;;
}

.card-username{
  color:#e6e6e6;
  text-decoration: none;
}

.card-username:link {
  font-weight: bold;
  text-decoration: none;
  color:#e6e6e6;
}


.card-username:hover {
  text-decoration: underline;
color:#e6e6e6;
}


.main {
  margin-left: 160px; 
  font-size: 28px; 
  padding: 0px 10px;
}



.posts-user-profile-pic{
  text-decoration: none !important;
   border:0px !important;
   outline:none;
   border-width: 0px;
   outline-width:0px;
   border-bottom: none;  
   margin-right: 10px;
}


.brand{
  font-weight: 900;
  font-size: 24px;
  color: #bbbbbb;
  font-size: 24px;
}
.brand:hover{
  color: #bbbbbb;
}

.navbar
{
  z-index: 10000;
  background-color: #262626;
  border-bottom: #81818186 solid 0.5px;
  background-color: #262626;
}

.search-bar-btn{
  background-color: transparent;
  width: 40px;
  border: none;
  color: #bbbbbb;
}
.search-bar{
  border: #81818186 solid 0.5px;
  height: 40px;
  background-color: #262626;
  color: #bbbbbb !important;
} 


i{
  color: #bbbbbb;
  font-size: 20px;
} 

.pagination{
  margin-left: -150px;
}

.sidemenu-link{
  text-decoration: none;
}

.sidemenu-link:hover{
  text-decoration: underline;
}
